.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

    nav {
        display: flex;
        gap: 20px;
        font-size: 22px;

        a {
            text-decoration: none;
        }
    }

    .name {
        display: flex;
        gap: 6px;

        h1 {
            color: blue;

        }

        svg {
            display: flex;
            margin: auto;
            font-size: 25px;

        }
    }


}