.text {
    display: flex;
    align-items: center;
    justify-content: center;


    h1 {
        display: flex;
<<<<<<< HEAD
        font-family: "Montserrat", sans-serif;
        color: white;
        margin-top: 400px;
=======
        font-family: "Open Sans", sans-serif;
        color: white;
        margin-top: 20px;
>>>>>>> a85647b46ce3b0e31b5e89b39792707110fc5d13
    }

}

.container {
    display: flex;
<<<<<<< HEAD
=======
    align-items: center;
    justify-content: center;
>>>>>>> a85647b46ce3b0e31b5e89b39792707110fc5d13
    gap: 50px;
    padding: 50px;


    svg {
        display: flex;
        margin: auto;
        margin-top: 20px;
        font-size: 50px;

    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
<<<<<<< HEAD
        font-family: "Montserrat", sans-serif;
=======
        font-family: "Open Sans", sans-serif;
>>>>>>> a85647b46ce3b0e31b5e89b39792707110fc5d13

    }

    P {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        color: white;
<<<<<<< HEAD
        font-family: "Montserrat", sans-serif;
=======
        font-family: "Open Sans", sans-serif;
>>>>>>> a85647b46ce3b0e31b5e89b39792707110fc5d13

    }


}

.cards {
    display: flex;
    gap: 14px;
    padding: 30px;
    flex-direction: column;
<<<<<<< HEAD
    background-color: #232323;
=======
    background-color: black;
>>>>>>> a85647b46ce3b0e31b5e89b39792707110fc5d13
    border: solid 0.5px white;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;

<<<<<<< HEAD
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
    }

=======
>>>>>>> a85647b46ce3b0e31b5e89b39792707110fc5d13
    &:hover {
        transform: scale(1.04);
        transition: .9s;
    }

<<<<<<< HEAD
    .html {
        fill: #E34F26;
    }

    .css {
        color: #264DE4;
    }

    .java {
        color: #D3B62A;
    }

    .react {
        color: #61DBFB;
    }
=======
    @media (max-width: 1500px) {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

>>>>>>> a85647b46ce3b0e31b5e89b39792707110fc5d13


}